body{
 display: flex;
 font-family: sans-serif;

}
.formUser{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.information{
    border: 2px solid greenyellow;
    width: 50%;
    align-items: center;
}
.userData{
    display: flex;
    width: 100%;
    justify-content: center;
}
.userData form{
    
    display: flex;
    flex-direction: column;
    width: 80%;
}
.userData input{
    border: 1px solid;
    border-radius: 5px;
    height: 20px;
}

form label,
form input{
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.button {
  color: white;
  background-color: black;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
}

.profileInfo{
    display: flex;
    flex-direction: column;
}
.progressBar{
    margin: 0 auto;
}
.password-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-password {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.list{
    border: 1px solid gray;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: lightgray;
}

input:focus {
  outline: 2px solid #005fcc; /* Color con buen contraste */
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(0, 95, 204, 0.4);
}
.error{
    color: red;
}